{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="">
        <h1>безопасный город</h1>
        {% if user.is_authenticated %}
    <h2>Вы уже зарегистрированы</h2>
     <ul class="nav nav-pills">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Главная</a></li>
          <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Выход</a></li>
          <li class="nav-item"><a href="{% url 'create_statement' %}" class="nav-link">Сформировать заявление</a></li>
          {% endif %}
        </ul>
    </header>

    {% block content %} {% endblock %}

    <footer>
        <p class="text-center text-body-secondary">Телефон +7 3952 43-30-40</p>
        <p class="text-center text-body-secondary">Электронная почта info@br38.ru</p>
        <p class="text-center text-body-secondary">© Безопасный город, 2024</p>
    </footer>
</body>
</html>